{%- form 'contact', id: 'form--contact-us', class: 'form js--validate-me' -%}

      {% render 'input', classes: 'input--standard input--text', name: 'contact[first_name]' %}
      {% render 'input', classes: 'input--standard input--text', name: 'contact[last_name]' %}
      {% render 'input', classes: 'input--standard input--email', name: 'contact[email]' %}
      {% render 'input', classes: 'input--standard input--company', name: 'contact[company]' %}
      {% render 'textarea', classes: 'textarea--standard textarea--body', name: 'contact[body]' %}

      <button class="button--submit" type="submit">Contact Us</button>

{%- endform -%}
