{% comment %} {% render 'navigation', menu: policies_menu %} {% endcomment %}

{% assign menu_handle = menu_handle | default: false %}

{% if menu_handle %}

  {% assign links = linklists[menu_handle] | default: false %}
  {% assign levels = linklists[menu_handle].levels | default: 0 %}

  <nav>
    <strong>Navigation {{ links.size }}</strong>
    <strong>Levels: {{ levels }}</strong>
  </nav>

{% endif %}
