{% style %}

  
  .compare-at-price-product{
    position: relative;
    color: gray;
    font-size: 24px;
  }

  .compare-at-price-product:before{
    position: absolute;
  content: "";
  left: 0;
  top: 50%;
  right: 0;
  border-top: 1px solid;
  border-color: inherit;
  
  -webkit-transform:rotate(-5deg);
  -moz-transform:rotate(-5deg);
  -ms-transform:rotate(-5deg);
  -o-transform:rotate(-5deg);
  transform:rotate(-5deg);
  }

  span.regular-price-product {
    font-weight: 600;
    font-size: 24px;
}

  .product-sale-tag{
    background: #7dc574;
    border-radius: 20px;
    padding: 2px 14px;
  }
  
{% endstyle %}
<div class="my-3">
{% assign product_price = product.selected_or_first_available_variant %}
<span class="compare-at-price-product">{{ product_price.compare_at_price | money }}</span>
<span class="regular-price-product">{{ product_price.price | money }}</span>

{% if product_price.price < product_price.compare_at_price %}
<span class="product-sale-tag">Sale</span>
{% endif %}
</div>