{% comment %}

    Accepts:
    - product: {Object} Product Liquid object

    Usage:
    {% render 'price', product: product %}

{% endcomment %}

{%- if product and product != blank -%}

  {% assign available = product.available %}
  {% assign price = product.price %}
  {% assign price_compare = product.compare_at_price %}

  <div class="price">
    {% if price_compare %}
      <span class="price__value">{{ price_compare | divided_by: 100  | floor }}</span>
    {% endif %}
    <span class="price__value {% if price_compare %}sale-price{% endif %}">{{ price | divided_by: 100  | floor }}</span>
    <span class="price__currency">{{ shop.currency }}</span>
  </div>

{% endif %}
