{% comment %}

    Accepts:
    - classes: {String} Any combination of words
    - product: {Object} Product Liquid object,
    - style: {String} Display option for a switch case

    Usage:
    {% render 'price', classes: '',  product: product %}

{% endcomment %}

{%- if product and product != blank -%}

  {% assign available = product.available %}
  {% assign price = product.price %}
  {% assign price_compare = product.compare_at_price %}
  {% assign style = style | default: '' %}

  <div class="price">
    <span class="price__value">{{ price | money_without_currency }}</span>
    {% if price_compare %}
      <span class="price__value sale-price">{{ price_compare | money_without_currency }}</span>
    {% endif %}
    {% comment %} <span class="price__currency">{{ shop.currency }}</span> {% endcomment %}
  </div>

{% endif %}
