{%- if product and product != blank -%}

  {%- assign snippet_name = 'product' -%}

    {% if product.images.size > 0 %}
      {% if gallery %}<div class="swiper">{% endif %}
        {% if gallery %}<div class="swiper-wrapper">{% endif %}

          {% for image in product.images %}
            {% if gallery %}<div class="swiper-slide">{% endif %}
              <div class="product__images-item">
                {%
                  render 'lazyload-image',
                  alt_text: product.title,
                  image: image,
                %}
              </div>
            {% if gallery %}</div>{% endif %}
          {% endfor %}

        {% if gallery %}</div>{% endif %}
      {% if gallery %}</div>{% endif %}
    {% endif %}

{% endif %}
{% comment %}

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div> {% endcomment %}
