{%- if product and product != blank -%}

  {%- assign snippet_name = 'product' -%}

  {%- assign is_swipper = false -%}
  {% if product.images.size > 1 %}
    {%- assign is_swipper = true -%}
  {% endif %}

  <div class="{{ snippet_name }}__gallery{% if is_swipper %} with-swipper{% endif %}>

    {% if product.images.size > 0 %}
      {% if is_swipper %}<div class="swiper swiper-main">{% endif %}
        {% if is_swipper %}<div class="swiper-wrapper">{% endif %}

          {% for image in product.images %}
            {% if is_swipper %}<div class="swiper-slide">{% endif %}
              <div class="{{ snippet_name }}__gallery-item">
                {%
                  render 'lazyload-image',
                  alt_text: product.title,
                  image: image,
                %}
              </div>
            {% if is_swipper %}</div>{% endif %}
          {% endfor %}

        {% if is_swipper %}</div>{% endif %}
      {% if is_swipper %}</div>{% endif %}
    {% endif %}

    {% if is_swipper %}
      <div class="swiper swiper-thumbs">
        <div class="swiper-wrapper">
          {% for image in product.images %}
            <div class="swiper-slide">
              {%
                render 'lazyload-image',
                alt_text: product.title,
                image: image,
              %}
            </div>
          {% endfor %}
        </div>
      </div>
    {% endif %}

  </div>

{% endif %}
{% comment %}

<!-- Slider main container -->
<div class="swiper">
  <!-- Additional required wrapper -->
  <div class="swiper-wrapper">
    <!-- Slides -->
    <div class="swiper-slide">Slide 1</div>
    <div class="swiper-slide">Slide 2</div>
    <div class="swiper-slide">Slide 3</div>
    ...
  </div>
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>

  <!-- If we need navigation buttons -->
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>

  <!-- If we need scrollbar -->
  <div class="swiper-scrollbar"></div>
</div> {% endcomment %}
