@use "sass:color";
@use "sass:math";
@use "sass:map";

//////////////////////////////////////////////////////////
////  SCSS | Functions & Mixins
//////////////////////////////////////////////////////////

@function hexToRGB( $hex: false ) {
  @return red($hex), green($hex), blue($hex);
}

//////////////////////////////////////////////////////////
////  SCSS | Vars
//////////////////////////////////////////////////////////

$theme-info: (
  'theme-name': 'Lontreau',
  'theme-uri': 'https://weareverypolite.com',
  'description': 'Lontreau Custom Theme',
  'author': 'Very Polite Digital Dept.',
  'author-uri': 'https://weareverypolite.com',
  'version': '1.0.0',
  'license': 'GNU General Public License v2 or later',
  'license-uri': 'URI: https://www.gnu.org/licenses/gpl-2.0.html',
  'tags': 'HTML5, CSS3, Responsive, Mobile Friendly',
  'text-domain': 'lontreau',
);

// ---------------------------------------- Typography | Body Copy
$theme-body-copy-sizes: (
  'base': 14px,
  'sm': 14px,
  'md': 16px,
  'lg': 14px,
  'xl': 14px,
  'xxl': 16px
);

// ---------------------------------------- Border Radius
$theme-border: (
  'radius': 4px,
  'width': 1px,
);

// ---------------------------------------- Button | Font Size
$theme-button-font-sizes: (
  'base': 13px,
  'sm': 14px,
  'md': 15px,
  'lg': 13px,
  'xl': 14px,
  'xxl': 15px
);

// ---------------------------------------- Button | Height
$theme-button-min-heights: (
  'base': 40px,
  'sm': 42px,
  'md': 44px,
  'lg': 40px,
  'xl': 42px,
  'xxl': 44px
);

// ---------------------------------------- Button | Height
$theme-button-min-widths: (
  'base': 136px,
  'sm': 136px,
  'md': 136px,
  'lg': 116px,
  'xl': 120px,
  'xxl': 124px
);

// ---------------------------------------- Colours
$theme-colours: (
  'asphalt': #F7F7F7,
  'aqua': #0E668C,
  'black': #000000,
  'brick': #91342A,
  'fog': #E2E6EC,
  'forrest': #0F5E38,
  'forrest-dark': #093822,
  'grass': #7DC773,
  'liliac': #AAA1BF,
  'maize': #D8A235,
  'salmon': #EE8857,
  'white': #ffffff,
);

// ---------------------------------------- Font Sizes | Body Copy
$theme-font-sizes-body-copy: (
  'base': 15px,
  'sm': 16px,
  'md': 17px,
  'lg': 16px,
  'xl': 17px,
  'xxl': 18px
);

// ---------------------------------------- Font Sizes | Heading
$theme-font-sizes-heading: (
  'base': 32px,
  'sm': 42px,
  'md': 52px,
  'lg': 32px,
  'xl': 42px,
  'xxl': 52px
);

// ---------------------------------------- Header Height
$theme-header-heights: (
  'base': 100px,
  'sm': 110px,
  'md': 120px,
  'lg': 90px,
  'xl': 100px,
  'xxl': 110px
);

$theme-hero-heights: (
  'base': 100vh,
  'sm': 66vh,
  'md': 75vh,
  'lg': 375px,
  'xl': 475px,
  'xxl': 575px
);

// ---------------------------------------- Bootstrap | Gutter
$grid-gutter-width: 20px;

// ---------------------------------------- Bootstrap | Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

// ---------------------------------------- Bootstrap | Container Sizes
$container-max-widths: (
  sm: 540px,
  md: 740px,
  lg: 960px,
  xl: 1160px,
  xxl: 1360px
);
