// If you want to include a CSS file from NPM, when you import the file, omit the '.css' portion of the file path

//////////////////////////////////////////////////////////
////  Variables & Mixins
//////////////////////////////////////////////////////////

@import './variables.scss';
@import './mixins.scss';

//////////////////////////////////////////////////////////
////  Theme CSS Variables
//////////////////////////////////////////////////////////

:root {

  //////////////////////////////////////////////////////////
  ////  Bootstrap
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Gutter Width
  --bs-gutter-width: #{ $grid-gutter-width };
  --bs-gutter-x: #{ $grid-gutter-width };

  // ---------------------------------------- Container Fluid Padding
  --bs-container-fluid-padding: 32px;

  // ---------------------------------------- Container Breakpoints
  --bs-container-breakpoint--sm: #{ map-get( $grid-breakpoints, sm ) };
  --bs-container-breakpoint--md: #{ map-get( $grid-breakpoints, md ) };
  --bs-container-breakpoint--lg: #{ map-get( $grid-breakpoints, lg ) };
  --bs-container-breakpoint--xl: #{ map-get( $grid-breakpoints, xl ) };
  --bs-container-breakpoint--xxl: #{ map-get( $grid-breakpoints, xxl ) };

  // ---------------------------------------- Container Max Widths
  --bs-container-width--sm: #{ map-get( $container-max-widths, sm ) };
  --bs-container-width--md: #{ map-get( $container-max-widths, md ) };
  --bs-container-width--lg: #{ map-get( $container-max-widths, lg ) };
  --bs-container-width--xl: #{ map-get( $container-max-widths, xl ) };
  --bs-container-width--xxl: #{ map-get( $container-max-widths, xxl ) };

  //////////////////////////////////////////////////////////
  ////  Theme
  //////////////////////////////////////////////////////////

  // ---------------------------------------- Body Copy
  --theme-body-copy: #{ map-get( $theme-body-copy-sizes, 'base' ) };
  --theme-body-copy--sm: #{ map-get( $theme-body-copy-sizes, 'sm' ) };
  --theme-body-copy--md: #{ map-get( $theme-body-copy-sizes, 'md' ) };
  --theme-body-copy--lg: #{ map-get( $theme-body-copy-sizes, 'lg' ) };
  --theme-body-copy--xl: #{ map-get( $theme-body-copy-sizes, 'xl' ) };
  --theme-body-copy--xxl: #{ map-get( $theme-body-copy-sizes, 'xxl' ) };

  // ---------------------------------------- Border
  --theme-border-radius: #{ map-get( $theme-border, 'radius' ) };
  --theme-border-width: #{ map-get( $theme-border, 'width' ) };

  // ---------------------------------------- Button | Font Size
  --theme-button-font-size: #{ map-get( $theme-button-font-sizes, base ) };
  --theme-button-font-size--sm: #{ map-get( $theme-button-font-sizes, sm ) };
  --theme-button-font-size--md: #{ map-get( $theme-button-font-sizes, md ) };
  --theme-button-font-size--lg: #{ map-get( $theme-button-font-sizes, lg ) };
  --theme-button-font-size--xl: #{ map-get( $theme-button-font-sizes, xl ) };
  --theme-button-font-size--xxl: #{ map-get( $theme-button-font-sizes, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-height: #{ map-get( $theme-button-min-heights, base ) };
  --theme-button-min-height--sm: #{ map-get( $theme-button-min-heights, sm ) };
  --theme-button-min-height--md: #{ map-get( $theme-button-min-heights, md ) };
  --theme-button-min-height--lg: #{ map-get( $theme-button-min-heights, lg ) };
  --theme-button-min-height--xl: #{ map-get( $theme-button-min-heights, xl ) };
  --theme-button-min-height--xxl: #{ map-get( $theme-button-min-heights, xxl ) };

  // ---------------------------------------- Button | Height
  --theme-button-min-width: #{ map-get( $theme-button-min-widths, base ) };
  --theme-button-min-width--sm: #{ map-get( $theme-button-min-widths, sm ) };
  --theme-button-min-width--md: #{ map-get( $theme-button-min-widths, md ) };
  --theme-button-min-width--lg: #{ map-get( $theme-button-min-widths, lg ) };
  --theme-button-min-width--xl: #{ map-get( $theme-button-min-widths, xl ) };
  --theme-button-min-width--xxl: #{ map-get( $theme-button-min-widths, xxl ) };

  // ---------------------------------------- Carousel | Education
  --theme-carousel-education-image-size: 55px;
  --theme-carousel-education-image-size--sm: 60px;
  --theme-carousel-education-image-size--md: 65px;
  --theme-carousel-education-image-size--lg: 75px;
  --theme-carousel-education-image-size--xl: 80px;
  --theme-carousel-education-image-size--xxl: 85px;

  // ---------------------------------------- Colours
  --theme-colour-asphalt: #{ hexToRGB( map-get( $theme-colours, 'asphalt' ) ) };
  --theme-colour-aqua: #{ hexToRGB( map-get( $theme-colours, 'aqua' ) ) };
  --theme-colour-black: #{ hexToRGB( map-get( $theme-colours, 'black' ) ) };
  --theme-colour-brick: #{ hexToRGB( map-get( $theme-colours, 'brick' ) ) };
  --theme-colour-fog: #{ hexToRGB( map-get( $theme-colours, 'fog' ) ) };
  --theme-colour-forrest: #{ hexToRGB( map-get( $theme-colours, 'forrest' ) ) };
  --theme-colour-forrest-dark: #{ hexToRGB( map-get( $theme-colours, 'forrest-dark' ) ) };
  --theme-colour-grass: #{ hexToRGB( map-get( $theme-colours, 'grass' ) ) };
  --theme-colour-liliac: #{ hexToRGB( map-get( $theme-colours, 'liliac' ) ) };
  --theme-colour-maize: #{ hexToRGB( map-get( $theme-colours, 'maize' ) ) };
  --theme-colour-salmon: #{ hexToRGB( map-get( $theme-colours, 'salmon' ) ) };
  --theme-colour-white: #{ hexToRGB( map-get( $theme-colours, 'white' ) ) };

  // ---------------------------------------- Container
  --theme-container--sm: #{ map-get( $container-max-widths, 'sm' ) };
  --theme-container--md: #{ map-get( $container-max-widths, 'md' ) };
  --theme-container--lg: #{ map-get( $container-max-widths, 'lg' ) };
  --theme-container--xl: #{ map-get( $container-max-widths, 'xl' ) };
  --theme-container--xxl: #{ map-get( $container-max-widths, 'xxl' ) };

  // ---------------------------------------- Header
  --theme-header-height: #{ map-get( $theme-header-heights, 'base' ) };
  --theme-header-height--sm: #{ map-get( $theme-header-heights, 'sm' ) };
  --theme-header-height--md: #{ map-get( $theme-header-heights, 'md' ) };
  --theme-header-height--lg: #{ map-get( $theme-header-heights, 'lg' ) };
  --theme-header-height--xl: #{ map-get( $theme-header-heights, 'xl' ) };
  --theme-header-height--xxl: #{ map-get( $theme-header-heights, 'xxl' ) };

    // ---------------------------------------- Header
  --theme-hero-height: #{ map-get( $theme-hero-heights, 'base' ) };
  --theme-hero-height--sm: #{ map-get( $theme-hero-heights, 'sm' ) };
  --theme-hero-height--md: #{ map-get( $theme-hero-heights, 'md' ) };
  --theme-hero-height--lg: #{ map-get( $theme-hero-heights, 'lg' ) };
  --theme-hero-height--xl: #{ map-get( $theme-hero-heights, 'xl' ) };
  --theme-hero-height--xxl: #{ map-get( $theme-hero-heights, 'xxl' ) };

  // ---------------------------------------- Font Families
  --theme-font-family--sans-serif: sans-serif;
  --theme-font-family--serif: sans-serif;
  --theme-font-family--display: serif;

  --theme-font-family--sans-serif--primary: 'NeueBit', sans-serif;
  --theme-font-family--serif--primary: 'Self Modern', serif;

  // ---------------------------------------- Layout | Fifty-Fifty
  --theme-layout--fifty-fifty-max-width: 1800px;

  // ---------------------------------------- Transitions
  --theme-transition-duration: 280ms;
  --theme-transition-opacity: 0.3333;

}

//////////////////////////////////////////////////////////
////  Vendors
//////////////////////////////////////////////////////////

@import '../node_modules/bootstrap/scss/bootstrap';
@import '../node_modules/@glidejs/glide/dist/css/glide.core.min';
// @import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
@import '../node_modules/aos/dist/aos';

//////////////////////////////////////////////////////////
////  Component
//////////////////////////////////////////////////////////

@import './components/accordion-education.scss';
@import './components/accordion-with-image.scss';
@import './components/body-copy.scss';
@import './components/button.scss';
@import './components/caption.scss';
@import './components/card.scss';
@import './components/card-article.scss';
@import './components/carousel-education.scss';
@import './components/collapsible.scss';
@import './components/contact-form.scss';
@import './components/field.scss';
@import './components/fifty-fifty-feature.scss';
@import './components/fifty-fifty-framed.scss';
@import './components/figure.scss';
@import './components/form.scss';
@import './components/full-width-feature.scss';
@import './components/glide.scss';
@import './components/heading.scss';
@import './components/highlight.scss';
@import './components/input.scss';
@import './components/label.scss';
@import './components/lazyload.scss';
@import './components/link.scss';
@import './components/listing.scss';
@import './components/navigation.scss';
@import './components/pagination.scss';
@import './components/rte.scss';
@import './components/section.scss';
@import './components/select.scss';
@import './components/share-this.scss';
@import './components/textarea.scss';
@import './components/the-team.scss';
@import './components/title.scss';

//////////////////////////////////////////////////////////
////  Theme
//////////////////////////////////////////////////////////

@import './theme/404.scss';
@import './theme/article.scss';
@import './theme/blog.scss';
@import './theme/body.scss';
@import './theme/collection.scss';
@import './theme/container.scss';
@import './theme/fonts.scss';
@import './theme/footer.scss';
@import './theme/header.scss';
@import './theme/main.scss';
@import './theme/page.scss';
@import './theme/product.scss';
