<h1>Footer Section</h1>

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Footer",
  "settings": [
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    }
  ],
  "blocks": []
}
{% endschema %}
