<h1>Full Width Feature</h1>

{% schema %}
{
  "name": "Full Width Feature",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "title"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Full Width Feature"
    }
  ]
}
{% endschema %}
