<h1>Full Width Feature</h1>

{% schema %}
{
  "name": "Full Width Feature",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Full Width Feature"
    }
  ]
}
{% endschema %}
