{% assign section_name = 'full-width-feature' %}

{% assign title = section.settings.title | default: '' %}
{% assign message = section.settings.message | default: '' %}

<div class="{{ section_name }}" id="{{ section.id }}">
  {% render 'layout--container' %}

    {% if title != blank %}
      <h3>{{ title }}</h3>
    {% endif %}

    {% if message != blank %}
      <div>{{ message }}</div>
    {% endif %}

  {% render 'layout--container', state: 'closed' %}
</div>

{% schema %}
{
  "name": "Full Width Feature",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Title",
      "type": "text",
      "id": "title"
    },
    {
      "label": "Message",
      "type": "richtext",
      "id": "message"
    },
    {
      "label": "Image",
      "type": "image_picker",
      "id": "image"
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Full Width Feature"
    }
  ]
}
{% endschema %}
