{% assign section_name = 'footer' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign main_menu = section.settings.menu_menu | default: false %}

<div class="{{ section_name }}" id="{{ section_id }}">
  {% render 'layout--container' %}
    <div class="{{ section_name }}__main">

      <div class="{{ section_name }}__brand">
        <a href="/" target="_self" title="Home">
          {% render 'svg', type: 'brand.logo.circle' %}
        </a>
      </div>

      {% if main_menu %}
        {% render 'navigation', classes: 'header__main-menu', menu_handle: main_menu %}
      {% endif %}

    </div>
  {% render 'layout--container', state: 'closed' %}
</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_menu"
      }
    ],
	  "blocks": []
  }
{% endschema %}

