{% assign section_name = 'header' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign menu_main = section.settings.menu_main | default: false %}

<div class="{{ section_name }}__main">

  <div class="{{ section_name }}__brand">
    <a href="/" target="_self" title="Home">
      {% render 'svg', type: 'brand.logo.circle' %}
    </a>
  </div>

  {% if menu_main %}
    <nav class="{{ section_name }}__navigation navigation navigation--header">
      {% for link in linklists[menu_main].links %}
        {% render 'navigation-item', link: link %}
      {% endfor %}
    </nav>
  {% endif %}

  <button class="{{ section_name }}__button button d-inline-flex d-lg-none" type="button">
    <span class="button__title">Menu</span>
  </button>

</div>

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
  {
    "name": "Header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "content": "Navigation",
        "type": "header"
      },
      {
        "label": "Main Menu",
        "type": "link_list",
        "id": "menu_main"
      }
    ],
	  "blocks": []
  }
{% endschema %}
