{% assign section_name = 'instagram-feed' %}
{% assign section_id = section_name | append: '--' | append: section.id %}

{% assign heading = section.settings.heading | default: '' %}
{% assign heading_highlight = section.settings.heading_highlight | default: false %}

<div class="{{ section_name }}" id="{{ section_id }}">
  <div class="{{ section_name }}__main">

  </div>
  <div class="{{ section_name }}__cta">

  </div>
</div>

{% schema %}
{
  "name": "Instagram Feed",
  "tag": "section",
  "class": "section section--instagram-feed",
  "limit": 1,
  "settings": [
    {
      "content": "Content",
      "type": "header"
    },
    {
      "label": "Heading",
      "type": "richtext",
      "id": "heading"
    },
    {
      "label": "Heading Highlight",
      "type": "select",
      "options": [
        { "value": "standard", "label": "Standard" },
        { "value": "stroke", "label": "Stroke" },
        { "value": "circle", "label": "Circle" }
      ],
      "default": "standard",
      "id": "heading_highlight"
    }
  ],
  "presets": [
    {
      "name": "Instagram Feed"
    }
  ]
}
{% endschema %}
