{%- assign section_name = 'product' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

<article class="{{ section_name }}" itemscope itemtype="http://schema.org/Product">
  <h1>{{ product.title }}</h1>
</article>

{% render 'json-ld', article: product, type: 'product' %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "section section--article",
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
