{%- assign section_name = 'product' -%}
{%- assign section_id = section_name | append: '--' | append: section.id -%}

{% assign gallery = false %}

{% if product.images.size > 1 %}
  {% assign gallery = true %}
{% endif %}

<article class="{{ section_name }}" itemscope itemtype="http://schema.org/Product">

  <h1 class="product__title heading--1">{{ product.title }}</h1>
  <strong class="product__type title--1">{{ product.type }}</strong>
  {% render 'price', product: product %}

  {% if product.images.size > 0 %}
    {% if gallery %}
      <div class="glide js--glider" id="product-gallery--{{ section.id }}" data-glide-style="product-gallery">
      <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
    {% endif %}
      {% for image in product.images %}
        {% if gallery %}<li class="glide__slide">{% endif %}
          <div class="product__image">
            {%
              render 'lazyload-image',
              alt_text: product.title,
              image: image,
            %}
          </div>
        {% if gallery %}</li>{% endif %}
      {% endfor %}
    {% if gallery %}
      </ul>
      </div>
      </div>
    {% endif %}
  {% endif %}

</article>

{% render 'json-ld', article: product, type: 'product' %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}

{% schema %}
{
  "name": "Product",
  "tag": "section",
  "class": "section section--article",
  "blocks": [
    {
      "type": "@app"
    },
    {
     "name": "Recommended Products",
     "type": "recommended-products"
    }
  ],
  "presets": [
    {
      "name": "Product"
    }
  ]
}
{% endschema %}
