<h1>Test Feature Section</h1>
<p>Just in case</p>
{% schema %}
  {
    "name": "Test Feature Section",
    "settings": [
      {
        "label": "Text box heading",
        "default": "Title",
        "type": "text",
        "id": "custom_text_title"
      },
      {
        "label": "Add custom text below",
        "default": "<p>Add your text here</p>",
        "type": "richtext",
        "id": "custom_text_body"
      }
    ]
    "templates": ["index", "page"]
  }
{% endschema %}
