.article {

  &__date,
  &__title {
    display: block;
  }

  &__date {
    color: rgba(var(--theme-colour-grass),1);
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.12;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  &__title {
    font-family: var(--theme-font-family--serif--primary);
    font-style: normal;
    font-weight: 400;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__date {
      font-size: 15px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &__date {
      font-size: 16px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__date {
      font-size: 17px;
    }

  } // min width xxl

}
