html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {

  // overflow-x: hidden;
  &.sticky-footer {
    display: flex;
    flex-direction: column;
    main {
      flex: 1 0 auto;
    }
    footer {
      flex-shrink: 0;
    }
  }

  &.mobile-menu--active {
    overflow: hidden;
  }

  &.template--cart,
  &.template--collection,
  &.template--product {
    .header {
      .cart__link,
      .navigation__link {
        color: rgba(var(--theme-colour-black),1);
      }
    }
  }


}
