[data-colour-theme-grey],
[data-colour-theme-light] {
  .glide {
    &__controls--technical {
      border-top-color: rgba(var(--theme-colour-grass),1);
      .button {
        border-color: rgba(var(--theme-colour-grass),1);
        border-bottom: none;
        color: rgba(var(--theme-colour-grass),1);
        background: transparent;
        &:hover {
          background: rgba(var(--theme-colour-grass),1);
          color: rgba(var(--theme-colour-white),1);
        }
      }
    }
  }
}

// ---------------------------------------- Dark
[data-colour-theme-dark] {
  .accordion-with-image {
    &__content {
      border-color: rgba(var(--theme-colour-white), 1);
    }
  }
  .collapsible {
    &__content {
      border-top-color: rgba(var(--theme-colour-white), 1);
    }
    &__trigger {
      color: rgba(var(--theme-colour-white), 1);
    }
    & + .collapsible {
      border-top-color: rgba(var(--theme-colour-white), 1);
    }
  }
  .glide {
    &__controls--technical {
      background: rgba(var(--theme-colour-forrest-dark),0.4);
      border-top: none;
      .button {
        background: rgba(var(--theme-colour-grass),1);
        color: rgba(var(--theme-colour-forrest),1);
        border: none;
        &.prev {
          background: rgba(var(--theme-colour-grass),0.7);
        }
        &:hover {
          background: rgba(var(--theme-colour-white),1);
        }
      }
    }
  }
}

// ---------------------------------------- Light
[data-colour-theme-light] {
  .accordion-with-image {
    &__content {
      border-color: rgba(var(--theme-colour-black), 1);
    }
  }
  .collapsible {
    &__content {
      border-top-color: rgba(var(--theme-colour-black), 1);
    }
    &__trigger {
      color: rgba(var(--theme-colour-black), 1);
    }
    & + .collapsible {
      border-top-color: rgba(var(--theme-colour-black), 1);
    }
  }
  .glide {}
}
