.footer {

  background: rgba(var(--theme-colour-forrest-dark), 1);
  color: rgba(var(--theme-colour-white), 1);
  padding: 32px 0;

  &__brand {
    width: 32px;
    margin-left: auto;
    a, img, svg {
      height: auto;
      width: 100%;
      display: block;
    }
    a {
      transition: opacity var(--theme-transition-duration);
      opacity: 1;
      &:hover  {
        opacity: 0.5;
      }
    }
    & + .footer__menus {
      margin-top: 50px;
    }
    & + .footer__main {
      margin-top: 48px;
    }
  }

  &__contact {
    margin-top: 55px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    a {
      color: rgba(var(--theme-colour-grass),1);
    }
    &-details {
      display: inline-flex;
      flex-flow: column;
      align-items: flex-end;
      a {
        font-family: var(--theme-font-family--sans-serif);
        font-style: normal;
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        text-align: right;
        letter-spacing: 0.07em;
        text-transform: uppercase;
        text-decoration: none;
        & + a {
          margin-top: 8px;
        }
      }
    }
  }

  &__hr {
    display: block;
    width: 100%;
    height: 3px;
    background: url('./stroke.hr.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
    margin-top: 40px;
  }

  &__legal {
    color: rgba(var(--theme-colour-white),1);
    font-family: var(--theme-font-family--sans-serif);
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    align-items: flex-end;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  &__menus {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    .navigation {
      & + .navigation {
        margin-left: calc( 1.25 * var(--bs-gutter-width));
      }
    }
    &-extra,
    &-main {
      color: rgba(var(--theme-colour-white), 1);
      font-family: var(--theme-font-family--serif--primary);
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 1.33;
      letter-spacing: -0.02em;
      flex-flow: column;
      .navigation {
        &__item {
          overflow: visible;
          & + .navigation__item {
            margin-top: 18px;
          }
        }
        &__link {
          overflow: visible;
          position: relative;
          &::after {
            display: block;
            content: '';
            width: 130%;
            height: 160%;
            position: absolute;
            top: -30%;
            left: -15%;
            background: url('./LONTREAU--highlight--circle.svg');
            background-repeat: no-repeat;
            background-position: center center;
            background-size: contain;
            z-index: -1;
          }
        }
      }
    }
    &-policies {
      flex-flow: column;
      align-items: flex-start;
      .navigation {
        &__item {
          overflow: visible;
          & + .navigation__item {
            margin-top: 8px;
          }
        }
      }
    }
  }

  &__social {
    display: inline-flex;
    width: auto;
    justify-content: flex-start;
    align-items: center;
    &-item {
      height: 22px;
      width: 22px;
      & + .footer__social-item {
        margin-left: 26px;
      }
      a, img, svg {
        display: block;
        width: 100%;
        height: 100%;
      }
    }
  }

  @include breakpoint(sm) {

    &__menus {
      .navigation {
        & + .navigation {
          margin-left: calc(3 * var(--bs-gutter-width));
        }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__menus {
      .navigation {
        & + .navigation {
          margin-left: calc(4 * var(--bs-gutter-width));
        }
      }
    }

  } // min width md

  @include breakpoint(lg) {

    &__copyright {
      order: 1;
    }

    &__menus-policies {
      order: 2;
      flex-flow: row nowrap;
      .navigation {
        &__item {
          & + .navigation__item {
            margin: 0 0 0 45px;
          }
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
