.footer {

  background: rgba(var(--theme-colour-forrest-dark), 1);
  color: rgba(var(--theme-colour-white), 1);

  &__brand {
    height: 100px;
    a, img, svg {
      height: 100%;
      width: auto;
      display: block;
    }
  }

}
