.header {

  transition: background var(--theme-transition-duration);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.33) 0%, rgba(0, 0, 0, 0) 100%);
  color: rgba(var(--theme-colour-white),1);
  position: fixed;
  width: 100%;
  z-index: 25;

  svg {
    fill: currentColor;
  }

  .button,
  .navigation {
    font-family: var(--theme-font-family--serif--primary);
    color: inherit;
    font-size: 28px;
    letter-spacing: -0.05em;
  }

  .button {
    font-style: italic;
  }

  .navigation {
    display: none;
  }

  &__brand {
    color: rgba(var(--theme-colour-grass),1);
    left: var(--bs-container-fluid-padding);
    position: absolute;
    top: 50%;
    height: 40px;
    margin-top: -20px;
    a, img, svg {
      color: inherit;
      display: block;
      height: 100%;
      width: auto;
    }
    a {
      transition: opacity var(--theme-transition-duration);
      opacity: 1;
      &:hover {
        opacity: var(--theme-transition-opacity);
      }
    }
  }

  &__button {
    right: var(--bs-container-fluid-padding);
    position: absolute;
    &__icon {
      height: 35px;
      width: 35px;
      display: block;
      svg {
        width: 100%;
        height: 100%;
        display: block;
      }
    }
  }

  &__main {
    height: var(--theme-header-height);
    width: 100%;
    padding: 0 var(--bs-container-fluid-padding);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &:hover,
  &.hover-active,
  &.sub-navigation-active,
  .scroll-position--scrolled & {
    background: rgba(var(--theme-colour-white),1);
    color: rgba(var(--theme-colour-black),1);
    .navigation {
      &__link {
        color: rgba(var(--theme-colour-black),1);
      }
    }
  }

  .mobile-menu--active & {
    background: rgba(var(--theme-colour-white),0);
    color: rgba(var(--theme-colour-white),1);
  }


  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .navigation__link,
    .sub-navigation__link,
    .sub-sub-navigation__link {
      font-family: var(--theme-font-family--serif--primary);
      font-size: 24px;
      padding: 0 28px;
      text-decoration: none;
    }

    .navigation__list,
    .sub-navigation__list,
    .sub-sub-navigation__list {
      display: inline-flex;
      width: auto;
    }

    .sub-navigation,
    .sub-sub-navigation {
      display: none;
      &__link {
        color: rgba(var(--theme-colour-white), 1);
        &:hover,
        &.active {
          color: rgba(var(--theme-colour-grass), 1);
        }
      }
    }

    // ---------------------------------------- Navigation
    .navigation {
      display: block;
      &__link {
        display: inline-flex;
        height: var(--theme-header-height);
        color: rgba(var(--theme-colour-white), 1);
        align-items: center;
        justify-items: center;
        &:after {
          transition: opacity var(--theme-transition-duration);
          display: block;
          content: '';
          position: absolute;
          z-index: -1;
          background: url('./LONTREAU--highlight--stroke.svg');
          background-repeat: no-repeat;
          background-position: center left;
          background-size: 100% auto;
          height: 10px;
          left: calc( 28px + 1% );
          width: calc( 102% - (28px * 2));
          opacity: 0;
          top: 50%;
          transform: translate3d( 0, 10px, 0);
        }
        &:active,
        &:hover {
          color: rgba(var(--theme-colour-black), 1);
          &:after {
            opacity: 1;
          }
        }
      }
      &__item {
        &.active {
          .sub-navigation {
            display: flex;
          }
        }
      }
    }

    // ---------------------------------------- Sub-navigation
    .sub-navigation {
      background: rgba(var(--theme-colour-forrest-dark), 1);
      top: var(--theme-header-height);
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: fixed;
      left: 0;
      width: 100%;
      .link {
        justify-content: space-between;
        align-items: center;
        &__icon {
          transform: rotate(-90deg);
          opacity: 0;
          height: 10px;
        }
      }
      &__item,
      &__link {
        width: 100%;
      }
      &__background {
        width: calc(100% - var(--theme-header-sub-navigation-width--lg));
        height: 100%;
        top: 0;
        left: var(--theme-header-sub-navigation-width--lg);
      }
      &__item {
        display: block;
        &.active {
          .sub-sub-navigation {
            display: flex;
          }
          &.has-links {
            .sub-navigation__link .link__icon {
              opacity: 1;
            }
          }
        }
      }
      &__link {
        &.active,
        &:hover {
          .link__icon {
            opacity: 1;
          }
        }
      }
      &__list {
        background: rgba(var(--theme-colour-forrest), 1);
        display: inline-flex;
        flex-flow: column;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        padding: 28px 0;
        width: var(--theme-header-sub-navigation-width--lg);
      }
      &__wrapper {
        position: relative;
        display: block;
        width: 500px;
        margin: auto;
      }
    }

    // ---------------------------------------- Sub-sub-navigation
    .sub-sub-navigation {
      background: rgba(var(--theme-colour-forrest), 0.75);
      position: absolute;
      top: 0;
      display: none;
      width: 100%;
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      left: 100%;
      padding: 28px 0;
      height: 100%;
      &__item {
        line-height: 1;
      }
      &__link {
        font-size: 16px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    // font-size 26

  } // min width xl

  @include breakpoint(xxl) {

    // font-size 28

  } // min width xxl

}
