main {

  &.template--article,
  &.template--blog,
  &.template--cart,
  &.template--collection {
    padding-bottom: 65px;
  }

  &.template--cart,
  &.template--collection,
  &.template--list-collections,
  &.template--product {
    padding-top: var(--theme-header-height);
  }

  &.page--default {
    padding-top: calc( 0.5 * var(--theme-header-height));
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &.template--article,
    &.template--blog,
    &.template--cart,
    &.template--collection {
      padding-bottom: 95px;
    }

    &.template--cart,
    &.template--collection,
    &.template--list-collections,
    &.template--product {
      padding-top: var(--theme-header-height--lg);
    }

    &.page--default {
      padding-top: calc( 0.5 * var(--theme-header-height--lg));
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
