.password-main {

  &__cta {
    margin-top: 30px;
    width: 100%;
    max-width: 400px;
    margin: auto;
  }

  &__brand {
    svg {
      display: block;
      height: 100%;
      width: auto;
      fill: currentColor;
    }
    & + .password-main__form {
      margin-top: 30px;
    }
  }

  &__form {
    width: 100%;
    max-width: 400px;
    margin: auto;
    button {
      transition:
        background var(--theme-transition-duration),
        border var(--theme-transition-duration),
        color var(--theme-transition-duration),
        opacity var(--theme-transition-duration);
      outline: none;
      border: none;
      padding: 0;
      margin: 0;
      display: inline-flex;
      width: auto;
      justify-content: center;
      align-items: center;
      min-height: 48px;
      line-height: 1;
      text-decoration: none;
      background: transparent;
      border-width: 2px;
      border-style: solid;
      font-family: var(--theme-font-family--sans-serif--primary);
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 1;
      letter-spacing: 0.07em;
      text-transform: uppercase;
      width: 100%;
    }
    .field {
      &__input,
      &__label {
        width: 100%;
      }
    }
  }

  &__main {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
