.password-main {

  form {
    button {

    }
    .field {
      &__input,
      &__label {
        width: 100%;
      }
    }
  }

  &__main {
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
