.product {

  .stepper {
    &__button,
    &__input {
      height: 50px;
      width: 50px;
      font-size: 20px;
    }
  }

  .swiper {
    &-pagination {
      margin-top: 16px;
      top: unset;
      bottom: unset;
    }
  }

  &__actions {
    margin-top: calc( 2 * var(--bs-container-fluid-padding) );
    button {
      width: 100%;
      & + button {
        margin-top: 16px;
      }
    }
    & + .product__info {
      margin-top: var(--bs-container-fluid-padding);
    }
  }

  &__details {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
  }

  &__gallery {
    &-main {
      border: 1px solid rgba(var(--theme-colour-black), 1);
    }
    &-thumbs {
      margin-top: var(--bs-container-fluid-padding);
      .swiper-slide {
        border: 1px solid rgba(var(--theme-colour-black), 1);
        opacity: 0.25;
        &.swiper-slide-thumb-active {
          opacity: 1;
        }
      }
    }
  }

  &__images {
    border: 1px solid rgba(var(--theme-colour-black),1);
  }

  &__quantity {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &-label {
      text-transform: uppercase;
    }
    &-stepper {

    }
    & + .product__button {
      margin-top: var(--bs-container-fluid-padding);
    }
  }

  &__title {
    font-size: 24px;
  }

  &__type {
    width: 100%;
    color: rgba(var(--theme-colour-grass), 1);
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__details {
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
    }

    &__title {
      font-size: 48px;
      & + .product__type {
        margin-top: 8px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__title {
      font-size: 52px;
      & + .product__type {
        margin-top: 10px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__title {
      font-size: 56px;
      & + .product__type {
        margin-top: 12px;
      }
    }

  } // min width xxl

}
