.product {

  .collapsible {
    &__content {
      text-transform: uppercase;
      font-size: 16px;
      line-height: 1.23;
      letter-spacing: 0.07em;
    }
  }

  .section {
    &--product {
      margin-bottom: 80px;
    }
  }

  .stepper {
    &__button,
    &__input {
      height: 50px;
      width: 50px;
      font-size: 20px;
    }
  }

  .swiper {
    &-pagination {
      margin-top: 16px;
      top: unset;
      bottom: unset;
    }
  }

  &__actions {
    display: flex;
    flex-flow: column;
    margin-top: calc( 2 * var(--bs-container-fluid-padding) );
    button {
      width: 100%;
      & + button {
        margin-top: 16px;
      }
    }
    & + .product__info {
      margin-top: var(--bs-container-fluid-padding);
    }
  }

  &__details {
    display: flex;
    width: 100%;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: baseline;
    & + .product__gallery {
      margin-top: 20px;
    }
  }

  &__gallery {
    &-main {
      border: 1px solid rgba(var(--theme-colour-black), 1);
    }
    &-thumbs {
      margin-top: var(--bs-container-fluid-padding);
      .swiper-slide {
        border: 1px solid rgba(var(--theme-colour-black), 1);
        opacity: 0.25;
        cursor: pointer;
        &:hover,
        &.swiper-slide-thumb-active {
          opacity: 1;
        }
      }
    }
  }

  &__images {
    border: 1px solid rgba(var(--theme-colour-black),1);
  }

  &__price {
    width: 25%;
    text-align: right;
  }

  &__quantity {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    &-label {
      text-transform: uppercase;
    }
    &-stepper {

    }
    & + .product__button {
      margin-top: var(--bs-container-fluid-padding);
    }
  }

  &__title {
    font-size: 24px;
    width: 75%;
  }

  &__type {
    width: 100%;
    color: rgba(var(--theme-colour-grass), 1);
    margin-top: 10px;
  }

  @include breakpoint(sm) {

    .collapsible {
      &__content {
        font-size: 16px;
      }
    }

    &__price {
      font-size: 20px;
    }

    &__title {
      font-size: 32px;
    }

    &__type {
      font-size: 17px;
    }

  } // min width sm

  @include breakpoint(md) {

    .collapsible {
      &__content {
        font-size: 16px;
      }
    }

    &__price {
      font-size: 24px;
    }

    &__title {
      font-size: 38px;
    }

    &__type {
      font-size: 19px;
    }

  } // min width md

  @include breakpoint(lg) {

    .collapsible {
      &__content {
        font-size: 16px;
      }
    }

    &__price,
    &__title {
      width: 100%;
    }

    &__actions {
      margin-top: 0;
    }

    &__details {
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 14px;
    }

    &__price {
      text-align: left;
      margin: 24px 0;
    }

    &__quantity {
      flex-flow: column;
      justify-content: flex-start;
      align-items: flex-start;
      &-label {
        margin-bottom: 10px;
      }
    }

    &__title {
      font-size: 46px;
      & + .product__type {
        margin-top: 8px;
      }
    }

    &__type {
      font-size: 16px;
    }

  } // min width lg

  @include breakpoint(xl) {

    .collapsible {
      &__content {
        font-size: 17px;
      }
    }

    &__title {
      font-size: 50px;
      & + .product__type {
        margin-top: 10px;
      }
    }

    &__type {
      font-size: 17px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    .collapsible {
      &__content {
        font-size: 18px;
      }
    }

    &__title {
      font-size: 54px;
      & + .product__type {
        margin-top: 12px;
      }
    }

    &__type {
      font-size: 18px;
    }

  } // min width xxl

}
