.accordion-education {

  &__item {
    &-content {
      order: 2;
      & + .accordion-education__item-image {
        margin-bottom: 38px;
      }
    }
    &-cta {
      margin-top: 36px;
      &-button {
        width: 100%;
      }
    }
    &-image {
      order: 1;
      img {
        width: 100%;
        height: auto;
        margin: auto;
      }
      &-caption,
      &-figure {
        display: block;
      }
      &-details {
        display: flex;
        width: 80%;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        margin: 24px auto 0;
        text-align: center;
      }
      &-figure {
        & + .accordion-education__item-image-caption {
          margin-top: 14px;
        }
      }
    }
    &-layout {
      display: flex;
      flex-flow: column;
      padding: var(--bs-gutter-width) 0 calc(2*var(--bs-gutter-width));
    }
    &-message {
      p a {
        border: none;
        display: inline;
        color: rgba(var(--theme-colour-grass), 1);
        text-decoration: none;
        &:hover {
          color: inherit;
        }
      }
    }
  }

  @include breakpoint(sm) {

    &__item {
      &-image {
        img {
          max-width: 375px;
        }
        &-details {
          width: 100%;
          max-width: 350px;
        }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    .intro {
      &__heading,
      &__message {
        padding-right: 20%;
      }
    }

    &__item {
      &-image {
        img {
          max-width: 500px;
        }
        &-details {
          max-width: 400px;
        }
      }
    }

  } // min width md

  @include breakpoint(lg) {

    .intro {
      &__heading,
      &__message {
        padding-right: 20%;
      }
    }

    &__item {
      &-content {
        order: 1;
        flex: 1;
        & + .accordion-education__item-image {
          margin-bottom: 0;
        }
      }
      &-image {
        width: 38%;
        order: 1;
        img {
          width: 75%;
          max-width: none;
        }
        &-details {
          padding: 0 calc(0.5*var(--bs-gutter-width));
          width: 75%;
          margin-top: 32px;
        }
      }
      &-layout {
        gap: var(--bs-gutter-width);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: flex-start;
        padding-bottom: 50px
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
