.accordion-with-image {

  .collapsible {
    &__content {
      padding-bottom: var(--bs-gutter-width);
    }
  }

  &__heading,
  &__message {
    & + .accordion-with-image__accordion {
      margin-top: 40px;
    }
  }

  &__heading {
    & + .accordion-with-image__message {
      margin-top: 20px;
    }
  }

  &__image {
    position: relative;
    display: block;
    width: 66.6666%;
    margin: auto;
    a, img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
    & + .accordion-with-image__content {
      margin-top: 55px;
    }
  }

  &[data-style-technical] {
    .accordion-with-image {
      &__content {
        border-style: solid;
        border-width: 1px;
      }
      &__image {
        width: calc( 100% + (var(--bs-container-fluid-padding) * 2));
        left: calc( -1 * var(--bs-container-fluid-padding) );
      }
    }
    .collapsible {
      &__content,
      &__trigger {
        padding: 15px;
      }
      &__content {
        border-top-style: solid;
        border-top-width: 1px;
      }
    }
  }

  @include breakpoint(sm) {

    &[data-style-technical] {
      .accordion-with-image {
        &__image {
          width: 100%;
          left: unset;
        }
      }
    }

  } // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__heading,
    &__message {
      .accordion-with-image__accordion {
        margin-top: 60px;
      }
    }

    &__content {
      width: 60%;
    }

    &__image {
      width: 40%;
      margin: unset;
      & + .accordion-with-image__content {
        margin-top: 0px;
      }
    }

    &__layout {
      display: flex;
      flex-flow: row nowrap;
      align-items: flex-start;
      justify-content: space-between;
    }

    &[data-style-technical] {
      .accordion-with-image {
        &__image {
          width: calc(40% + var(--bs-gutter-width));
        }
      }
      .collapsible {
        &__content,
        &__trigger {
          padding: 20px;
        }
      }
    }

    &[data-layout-image-right] {
      .accordion-with-image__content {
        order: 1;
      }
      .accordion-with-image__image {
        order: 2;
        padding-left: 10%;
      }
      &[data-style-technical] {
        .accordion-with-image__image {
          padding-left: 32px;
          margin-right: calc( -1 * var(--bs-gutter-width));
        }
      }
    }

    &[data-layout-image-left] {
      .accordion-with-image__content {
        order: 2;
      }
      .accordion-with-image__image {
        order: 1;
        padding-right: 10%;
      }
      &[data-style-technical] {
        .accordion-with-image__image {
          padding-right: 32px;
          margin-left: calc( -1 * var(--bs-gutter-width));
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
