.badge {

  display: inline-flex;
  justify-content: center;
  align-items: center;

  [data-type="sale"] {
    background: rgba(var(--theme-colour-grass), 1);
    color: rgba(var(--theme-colour-white), 1);
  }

}
