.body-copy {

  ol, p, ul {
    margin-bottom: 22px;
  }

  ol, ul {
    padding-left: 22px;
  }

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    a {
      transition: border 280ms;
      border-bottom-width: var(--theme-border-width);
      border-bottom-color: inherit;
      border-bottom-style: solid;
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }

  &--1,
  &--regular,
  &--alt,
  &--alt-small,
  &--large,
  &--xl {
    @extend .body-copy;
  }

  &--1,
  &--regular {
    font-family: var(--theme-font-family--serif--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
  }

  &--alt,
  &--alt-small {
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 700;
    letter-spacing: 0.05em;
    line-height: 1.23;
  }

  &--large,
  &--xl {
    font-family: var(--theme-font-family--serif--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.33;
    letter-spacing: -0.02em;
  }

  &--alt {
    font-size: 20px;
  }

  &--alt-small {
    font-size: 15px;
  }

  @include breakpoint(sm) {

    &--large,
    &--xl {
      font-size: 24px;
    }

  } // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    ol, p, ul {
      margin-bottom: 28px;
    }

    &--1,
    &--regular {
      font-size: 16px;
    }

    &--large,
    &--xl {
      font-size: 22px;
    }

    &--alt {
      font-size: 20px;
    }

    &--alt-small {
      font-size: 15px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--1,
    &--regular {
      font-size: 18px;
    }

    &--large,
    &--xl {
      font-size: 24px;
    }

    &--alt {
      font-size: 22px;
    }

    &--alt-small {
      font-size: 17px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--1,
    &--regular {
      font-size: 20px;
    }

    &--large,
    &--xl {
      font-size: 26px;
    }

    &--alt {
      font-size: 24px;
    }

    &--alt-small {
      font-size: 19px;
    }

  } // min width xxl

}
