.button {

  transition:
    background var(--theme-transition-duration),
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  min-height: 46px;
  line-height: 1;
  text-decoration: none;
  background: transparent;

  span {
    display: block;
  }

  svg {
    display: block;
    height: 100%;
    width: auto;
    fill: currentColor;
  }

  &__icon,
  &__title {
    display: block;
  }

  &__icon {
    transition:
      opacity var(--theme-transition-duration),
      transform var(--theme-transition-duration);
  }

  &--collapsible,
  &--primary,
  &--secondary {
    @extend .button;
  }

  &--collapsible,
  &--primary,
  &--secondary,
  &--tertiary {
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0.07em;
    text-transform: uppercase
  }

  &--secondary,
  &--tertiary {
    border-width: 2p;
    border-style: solid;
    border-radius: 2px;
    &:focus,
    &:hover {
      background: rgba(var(--theme-colour-grass),1);
      border-color: rgba(var(--theme-colour-grass),1);
      color: rgba(var(--theme-colour-black),1);
    }
  }

  &--collapsible {
    color: rgba(var(--theme-colour-black),1);
    width: 100%;
    .button__icon {
      position: relative;
      height: 18px;
      width: 18px;
      img, svg {
        display: block;
        width: auto;
        height: 100%;
      }
    }
    .button__icon-minus,
    .button__icon-plus {
      transition: opacity 150ms;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
    .button__icon-minus {
      opacity: 1;
    }
    .button__icon-plus {
      opacity: 0;
    }
    &.collapsed {
      .button__icon-minus {
        opacity: 0;
      }
      .button__icon-plus {
        opacity: 1;
      }
    }
  }

  &--primary {
    background: rgba(var(--theme-colour-grass),1);
    color: rgba(var(--theme-colour-black),1);
    width: 100%;
    max-width: 300px;
    &:focus,
    &:hover {
      background: rgba(var(--theme-colour-forrest),1);
      color: rgba(var(--theme-colour-grass),1);
    }
  }

  &--secondary {
    border-color: rgba(var(--theme-colour-white),1);
    color: rgba(var(--theme-colour-white),1);
  }

  &--tertiary {
    border-color: rgba(var(--theme-colour-black),1);
    color: rgba(var(--theme-colour-black),1);
  }

}
