.carousel-education {

  position: relative;

  .glide {
    &__slide {
      height: auto;
    }
  }

  &__description {
    line-height: 1;
  }

  &__main {
    display: flex;
    width: 100%;
    margin: auto;
  }

  &__intro {
    & + .carousel-education__main {
      margin-top: 65px;
    }
  }

  &__heading {
    & + .carousel-education__message {
      margin-top: 22px;
    }
  }

  &__hr {
    background: rgba(var(--theme-colour-grass), 1);
    display: block;
    height: 2px;
    flex: 1;
    margin-left: 10px;
  }

  &__image {
    width: var(--theme-carousel-education-image-size);
    height: var(--theme-carousel-education-image-size);
    overflow: hidden;
    a, img, svg {
      display: block;
      width: 100%;
    }
    & + .carousel-education__description,
    & + .carousel-education__title {
      margin-top: 25px;
    }
  }

  &__item {
    display: inline-flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
  }

  &__title {
    & + .carousel-education__description {
      margin-top: 12px;
    }
  }

  &[data-alignment="left"] {
    .carousel-education__intro {
      text-align: left;
    }
  }

  &[data-alignment="center"] {
    .carousel-education__intro {
      text-align: center;
    }
  }

  &[data-alignment="right"] {
    .carousel-education__intro {
      text-align: right;
    }
  }

  &[data-content-type="detailed"] {
    .carousel-education__item {
      align-items: flex-start;
      text-align: left;
      width: 100%;
      & + .carousel-education__item {
        margin-top: 50px;
      }
    }
    .carousel-education__main {
      padding-left: var(--bs-gutter-width);
      padding-right: var(--bs-gutter-width);
      width: 100%;
      flex-flow: column;
    }
    .carousel-education__title {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
    &[data-is-glider] {
      .carousel-education__main {
        padding-right: 0;
      }
      .carousel-education__item {
        & + .carousel-education__item {
          margin-top: 0;
        }
      }
    }
  }

  &[data-content-type="minimal"] {
    .carousel-education__hr {
      display: none;
    }
    .carousel-education__item {
      align-items: center;
      text-align: center;
    }
    .carousel-education__main {
      justify-content: center;
      align-items: flex-start;
      flex-flow: row;
    }
    &[data-is-glider] {
      .carousel-education__main {
        max-width: none;
      }
    }
  }

  &[data-is-glider] {
    .carousel-education__main {
      padding-bottom: 65px;
    }
  }

  @include breakpoint(sm) {

    &__image {
      width: var(--theme-carousel-education-image-size--sm);
      height: var(--theme-carousel-education-image-size--sm);
    }

    &[data-content-type="detailed"] {
      .carousel-education__main {
        max-width: var(--bs-container-width--sm);
      }
      &[data-is-glider] {
        .carousel-education__main {
          max-width: none;
          padding-left: calc( ((100% - var(--bs-container-width--sm)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

    &[data-content-type="minimal"] {
      .carousel-education__item {
        & + .carousel-education__item {
          margin-top: 0;
        }
      }
      .carousel-education__main {
        max-width: var(--bs-container-width--sm);
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      &[data-is-glider] {
        .carousel-education__main {
          width: 100%;
        }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__image {
      width: var(--theme-carousel-education-image-size--md);
      height: var(--theme-carousel-education-image-size--md);
    }

    &__message {
      width: 80%;
    }

    &[data-alignment="left"] {
      .carousel-education__message {
        margin-right: auto;
      }
    }

    &[data-alignment="center"] {
      .carousel-education__message {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &[data-alignment="right"] {
      .carousel-education__message {
        margin-left: auto;
      }
    }

    &[data-content-type="detailed"] {
      .carousel-education__item {
        width: 80%;
        margin: auto;
      }
      .carousel-education__main {
        max-width: var(--bs-container-width--md);
      }
      &[data-is-glider] {
        .carousel-education__item {
          width: 100%;
        }
        .carousel-education__main {
          padding-left: calc( ((100% - var(--bs-container-width--md)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

    &[data-content-type="minimal"] {
      .carousel-education__main {
        max-width: var(--bs-container-width--md);
      }
    }

    &[data-is-glider] {
      .carousel-education__main {
        padding-bottom: 45px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    &__image {
      width: var(--theme-carousel-education-image-size--lg);
      height: var(--theme-carousel-education-image-size--lg);
    }

    &__message {
      width: 75%;
    }

    &[data-content-type="detailed"] {
      .carousel-education__item {
        width: auto;
        flex: 1;
        margin: 0;
        & + .carousel-education__item {
          margin: 0;
        }
      }
      .carousel-education__main {
        max-width: var(--bs-container-width--lg);
        flex-flow: row nowrap;
        gap: 32px;
      }
      &[data-is-glider] {
        .carousel-education__main {
          padding-left: calc( ((100% - var(--bs-container-width--lg)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

    &[data-content-type="minimal"] {
      .carousel-education__main {
        max-width: var(--bs-container-width--lg);
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__image {
      width: var(--theme-carousel-education-image-size--xl);
      height: var(--theme-carousel-education-image-size--xl);
    }

    &[data-content-type="detailed"] {
      .carousel-education__main {
        max-width: var(--bs-container-width--xl);
      }
      &[data-is-glider] {
        .carousel-education__main {
          padding-left: calc( ((100% - var(--bs-container-width--xl)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__image {
      width: var(--theme-carousel-education-image-size--xxl);
      height: var(--theme-carousel-education-image-size--xxl);
    }

    &__message {
      width: 70%;
    }

    &[data-content-type="detailed"] {
      .carousel-education__main {
        max-width: var(--bs-container-width--xxl);
      }
      &[data-is-glider] {
        .carousel-education__main {
          padding-left: calc( ((100% - var(--bs-container-width--xxl)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

  } // min width xxl

}
