.collection-product-grid {

  &__sort-filter {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    &-options {
      text-align: center;
    }
    & + .collection-product-grid__listing {
      margin-top: var(--bs-gutter-width);
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__sort-filter {
      justify-content: flex-end;
      &-options {
        text-align: left;
        width: 25%;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
