.collapsible {

  &__content {
    padding: 0 0 var(--bs-gutter-width) 0;
    ol, p, ul {
      a {
        display: inline;
        color: rgba(var(--theme-colour-grass),1);
        text-decoration: none;
        border: none;
        &:hover {
          color: rgba(var(--theme-colour-black),1);
        }
      }
    }
  }

  &__trigger {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    &-title {
      padding-right: var(--bs-gutter-width);
    }
    &-icon {
      transition:
        color var(--theme-transition-duration),
        transform var(--theme-transition-duration);
    }
  }

  & + .collapsible {
    border-top: 1px solid rgba(var(--theme-colour-black),1);
  }

}
