.educational-carousel {

  position: relative;
  padding: 60px 0;

  .glide {
    &__slide {
      height: auto;
    }
  }

  &__main {
    display: flex;
    width: 100%;
    margin: auto;
  }

  &__intro {
    & + .educational-carousel__main {
      margin-top: 65px;
    }
  }

  &__heading {
    & + .educational-carousel__message {
      margin-top: 22px;
    }
  }

  &__hr {
    background: rgba(var(--theme-colour-grass), 1);
    display: block;
    height: 2px;
    flex: 1;
    margin-left: 10px;
  }

  &__image {
    width: 85px;
    height: 85px;
    border-radius: 100%;
    overflow: hidden;
    a, img, svg {
      display: block;
      width: 100%;
    }
    & + .educational-carousel__description,
    & + .educational-carousel__title {
      margin-top: 20px;
    }
  }

  &__item {
    display: inline-flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
  }

  &__title {
    & + .educational-carousel__description {
      margin-top: 12px;
    }
  }

  &[data-alignment="left"] {
    .educational-carousel__intro {
      text-align: left;
    }
  }

  &[data-alignment="center"] {
    .educational-carousel__intro {
      text-align: center;
    }
  }

  &[data-alignment="right"] {
    .educational-carousel__intro {
      text-align: right;
    }
  }

  &[data-content-type="detailed"] {
    .educational-carousel__item {
      align-items: flex-start;
      text-align: left;
      width: 100%;
      & + .educational-carousel__item {
        margin-top: 50px;
      }
    }
    .educational-carousel__main {
      padding-left: var(--bs-gutter-width);
      padding-right: var(--bs-gutter-width);
      width: 100%;
      flex-flow: column;
    }
    .educational-carousel__title {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
    &[data-is-glider] {
      .educational-carousel__main {
        padding-right: 0;
      }
      .educational-carousel__item {
        & + .educational-carousel__item {
          margin-top: 0;
        }
      }
    }
  }

  &[data-content-type="minimal"] {
    .educational-carousel__hr {
      display: none;
    }
    .educational-carousel__item {
      align-items: center;
      text-align: center;
    }
    .educational-carousel__main {
      justify-content: center;
      align-items: flex-start;
      flex-flow: row;
    }
    &[data-is-glider] {
      .educational-carousel__main {
        max-width: none;
      }
    }
  }

  &[data-is-glider] {
    .educational-carousel__main {
      padding-bottom: 65px;
    }
  }

  &[data-style="grey"],
  &[data-style="light"] {
    color: rgba(var(--theme-colour-black),1);
    .glide {
      &__controls--technical {
        border-top-color: rgba(var(--theme-colour-grass),1);
        .button {
          border-color: rgba(var(--theme-colour-grass),1);
          border-bottom: none;
          color: rgba(var(--theme-colour-grass),1);
          background: transparent;
          &:hover {
            background: rgba(var(--theme-colour-grass),1);
            color: rgba(var(--theme-colour-white),1);
          }
        }
      }
    }
  }

  &[data-style="grey"] {
    background: rgba(var(--theme-colour-asphalt),1);
  }

  &[data-style="dark"] {
    background: rgba(var(--theme-colour-forrest),1);
    color: rgba(var(--theme-colour-white),1);
    .glide {
      &__controls--technical {
        background: rgba(var(--theme-colour-forrest-dark),1);
        border-top: none;
        .button {
          background: rgba(var(--theme-colour-grass),1);
          color: rgba(var(--theme-colour-forrest),1);
          border: none;
          &.prev {
            background: rgba(var(--theme-colour-grass),0.7);
          }
          &:hover {
            background: rgba(var(--theme-colour-white),1);
          }
        }
      }
    }
  }

  @include breakpoint(sm) {

    &__image {
      width: 100px;
      height: 100px;
    }

    &[data-content-type="detailed"] {
      .educational-carousel__main {
        max-width: var(--bs-container-width--sm);
      }
      &[data-is-glider] {
        .educational-carousel__main {
          max-width: none;
          padding-left: calc( ((100% - var(--bs-container-width--sm)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

    &[data-content-type="minimal"] {
      .educational-carousel__item {
        & + .educational-carousel__item {
          margin-top: 0;
        }
      }
      .educational-carousel__main {
        max-width: var(--bs-container-width--sm);
        flex-flow: row nowrap;
        justify-content: space-evenly;
        align-items: flex-start;
      }
      &[data-is-glider] {
        .educational-carousel__main {
          width: 100%;
        }
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__message {
      width: 80%;
    }

    &[data-alignment="left"] {
      .educational-carousel__message {
        margin-right: auto;
      }
    }

    &[data-alignment="center"] {
      .educational-carousel__message {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &[data-alignment="right"] {
      .educational-carousel__message {
        margin-left: auto;
      }
    }

    &[data-content-type="detailed"] {
      .educational-carousel__item {
        width: 80%;
        margin: auto;
      }
      .educational-carousel__main {
        max-width: var(--bs-container-width--md);
      }
      &[data-is-glider] {
        .educational-carousel__item {
          width: 100%;
        }
        .educational-carousel__main {
          padding-left: calc( ((100% - var(--bs-container-width--md)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

    &[data-content-type="minimal"] {
      .educational-carousel__main {
        max-width: var(--bs-container-width--md);
      }
    }

    &[data-is-glider] {
      .educational-carousel__main {
        padding-bottom: 45px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    padding: 70px 0;

    &__image {
      width: 120px;
      height: 120px;
    }

    &__message {
      width: 75%;
    }

    &[data-content-type="detailed"] {
      .educational-carousel__item {
        width: auto;
        flex: 1;
        margin: 0;
        & + .educational-carousel__item {
          margin: 0;
        }
      }
      .educational-carousel__main {
        max-width: var(--bs-container-width--lg);
        flex-flow: row nowrap;
        gap: 32px;
      }
      &[data-is-glider] {
        .educational-carousel__main {
          padding-left: calc( ((100% - var(--bs-container-width--lg)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

    &[data-content-type="minimal"] {
      .educational-carousel__main {
        max-width: var(--bs-container-width--lg);
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &[data-content-type="detailed"] {
      .educational-carousel__main {
        max-width: var(--bs-container-width--xl);
      }
      &[data-is-glider] {
        .educational-carousel__main {
          padding-left: calc( ((100% - var(--bs-container-width--xl)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__message {
      width: 70%;
    }

    padding: 80px 0;

    &[data-content-type="detailed"] {
      .educational-carousel__main {
        max-width: var(--bs-container-width--xxl);
      }
      &[data-is-glider] {
        .educational-carousel__main {
          padding-left: calc( ((100% - var(--bs-container-width--xxl)) / 2) + var(--bs-gutter-width) );
        }
      }
    }

  } // min width xxl

}
