.educational-carousel {

  position: relative;
  padding: 60px 0;

  &__blocks {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    padding: 0 var(--bs-gutter-width);
  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    a, img, svg {
      display: block;
      width: 100%;
    }
    & + .educational-carousel__description,
    & + .educational-carousel__title {
      margin-top: 20px;
    }
  }

  &__item {
    display: inline-flex;
    width: 100%;
    flex-flow: column;
    align-items: flex-start;
    & + .educational-carousel__item {
      margin-top: 65px;
    }
  }

  &__title {
    & + .educational-carousel__description {
      margin-top: 12px;
    }
  }

  &[data-alignment="left"] {
    .educational-carousel__content {
      text-align: left;
    }
  }

  &[data-alignment="center"] {
    .educational-carousel__content {
      text-align: center;
    }
  }

  &[data-alignment="right"] {
    .educational-carousel__content {
      text-align: right;
    }
  }

  &[data-style="light"] {
    color: rgba(var(--theme-colour-black),1);
  }

  &[data-style="dark"] {
    background: rgba(var(--theme-colour-forrest),1);
    color: rgba(var(--theme-colour-white),1);
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    padding: 70px 0;

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    padding: 80px 0;

  } // min width xxl

}
