.educational-carousel {

  position: relative;
  padding: 60px 0;

  .glide {
    &__slide {
      height: auto;
    }
  }

  &__main {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-flow: column;
    padding: 0 var(--bs-gutter-width);
  }

  &__intro {
    & + .educational-carousel__main {
      margin-top: 65px;
    }
  }

  &__heading {
    & + .educational-carousel__message {
      margin-top: 22px;
    }
  }

  &__hr {
    background: rgba(var(--theme-colour-grass), 1);
    display: block;
    height: 2px;
    flex: 1;
    margin-left: 10px;
  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    overflow: hidden;
    a, img, svg {
      display: block;
      width: 100%;
    }
    & + .educational-carousel__description,
    & + .educational-carousel__title {
      margin-top: 20px;
    }
  }

  &__item {
    display: inline-flex;
    width: 100%;
    flex-flow: column;
    align-items: center;
    & + .educational-carousel__item {
      margin-top: 65px;
    }
  }

  &__title {
    & + .educational-carousel__description {
      margin-top: 12px;
    }
  }

  &[data-alignment="left"] {
    .educational-carousel__intro {
      text-align: left;
    }
  }

  &[data-alignment="center"] {
    .educational-carousel__intro {
      text-align: center;
    }
  }

  &[data-alignment="right"] {
    .educational-carousel__intro {
      text-align: right;
    }
  }

  &[data-content-type="detailed"] {
    .educational-carousel__item {
      background: rgba(var(--theme-colour-black),0.1);
      align-items: flex-start;
      text-align: left;
    }
    .educational-carousel__title {
      display: inline-flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
      align-items: center;
      width: 100%;
    }
  }

  &[data-content-type="minimal"] {
    .educational-carousel__hr {
      display: none;
    }
    .educational-carousel__item {
      align-items: center;
      text-align: center;
    }
  }

  &[data-is-glider] {
    .educational-carousel__main {
      padding: 0 0 65px;
    }
  }

  &[data-style="light"] {
    color: rgba(var(--theme-colour-black),1);
    .glide {
      &__controls--technical {
        border-top-color: rgba(var(--theme-colour-grass),1);
        .button {
          border-color: rgba(var(--theme-colour-grass),1);
          color: rgba(var(--theme-colour-grass),1);
          background: transparent;
          &:hover {
            background: rgba(var(--theme-colour-grass),1);
            color: rgba(var(--theme-colour-white),1);
          }
        }
      }
    }
  }

  &[data-style="dark"] {
    background: rgba(var(--theme-colour-forrest),1);
    color: rgba(var(--theme-colour-white),1);
    .glide {
      &__controls--technical {
        background: rgba(var(--theme-colour-forrest-dark),1);
        border-top: none;
        .button {
          background: rgba(var(--theme-colour-grass),1);
          color: rgba(var(--theme-colour-forrest),1);
          border: none;
          &.prev {
            background: rgba(var(--theme-colour-grass),0.7);
          }
          &:hover {
            background: rgba(var(--theme-colour-white),1);
          }
        }
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {

    &__message {
      width: 80%;
    }

    &[data-alignment="left"] {
      .educational-carousel__message {
        margin-right: auto;
      }
    }

    &[data-alignment="center"] {
      .educational-carousel__message {
        margin-right: auto;
        margin-left: auto;
      }
    }

    &[data-alignment="right"] {
      .educational-carousel__message {
        margin-left: auto;
      }
    }

    &[data-content-type="detailed"] {
      .educational-carousel__item {
        padding-left: calc( 2 * var(--bs-gutter-width) );
      }
    }

    &[data-is-glider] {
      .educational-carousel__main {
        padding: 0 0 45px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    padding: 70px 0;

    &__message {
      width: 75%;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &__message {
      width: 70%;
    }

    padding: 80px 0;

  } // min width xxl

}
