.fifty-fifty-custom {

  position: relative;

  &__content {
    & + .fifty-fifty-custom__image {
      margin-top: 32px;
    }
  }

  &__cta {
    margin-top: 36px;
    &-button {
      width: 100%;
      max-width: none;
    }
  }

  &__heading {
    & + .fifty-fifty-custom__message {
      margin-top: 20px;
    }
  }

  &__image {
    width: calc( 100% + (2 * var(--bs-gutter-width)) );
    left: calc( -1 * var(--bs-gutter-width) );
    position: relative;
    img, svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }

  &__layout {
    display: flex;
    flex-flow: column;
  }

  &__title {
    & + .fifty-fifty-custom__message {
      margin-top: 15px;
    }
  }

  &[data-style="wide"] {
    padding-bottom: 0;
    .fifty-fifty-custom__content {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .fifty-fifty-custom__image {
      width: 100%;
      left: unset;
      margin-left: auto;
      margin-right: auto;
    }
  }

  @include breakpoint(sm) {

    &__content {
      width: 85%;
      margin-left: auto;
      margin-right: auto;
      & + .fifty-fifty-custom__image {
        margin-top: 40px;
      }
    }

    &__image {
      width: 100%;
      left: unset;
    }

  } // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__content,
    &__image {
      width: 50%
    }

    &__content {
      margin-left: unset;
      margin-right: unset;
      & + .fifty-fifty-custom__image {
        margin-top: 0;
      }
    }

    &__layout {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
    }

    &[data-layout="image-right"] {
      .fifty-fifty-custom__content {
        order: 1;
        padding-right: 10%;
      }
      .fifty-fifty-custom__image {
        order: 2;
      }
    }

    &[data-layout="image-left"] {
      .fifty-fifty-custom__content {
        order: 2;
        padding-left: 10%;
      }
      .fifty-fifty-custom__image {
        order: 1;
      }
    }

    &[data-style-standard] {
      .fifty-fifty-custom {
        &__content {
          padding: 0 7%;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &[data-style-standard] {
      .fifty-fifty-custom {
        &__content {
          padding: 0 8%;
        }
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &[data-style-standard] {
      .fifty-fifty-custom {
        &__content {
          padding: 0 9%;
        }
      }
    }

  } // min width xxl

}
