.fifty-fifty-framed {

  position: relative;

  &__content {
    padding: 60px 0;
  }

  &__frame {
    display: none;
  }

  &__image {
    width: 100%;
    position: relative;
    aspect-ratio: 16/9;
    @supports not (aspect-ratio: auto) {
      height: 300px;
	  }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__content {
      width: 100%;
      max-width: 450px;
      padding: 0;
      margin: 0;
    }

    &__image {
      width: 46%;
      aspect-ratio: 3/4;
      max-height: 580px;
      @supports not (aspect-ratio: auto) {
        height: 580px;
	    }
    }

    &__layout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-flow: row nowrap;
      &:after {
        width: calc( 100% - (var(--bs-container-fluid-padding) * 2) );
        height: calc( 100% - (var(--bs-container-fluid-padding) * 2) );
        top: var(--bs-container-fluid-padding);
        left: var(--bs-container-fluid-padding);
        border: 5px solid rgba(var(--theme-colour-grass),1);
        position: absolute;
        z-index: 0;
        content: '';
      }
    }

    &__main {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      justify-content: flex-start;
      align-items: center;
      display: flex;
      z-index: 1;
    }

    &[data-layout-image-left] {
      .fifty-fifty-framed__content {

      }
      .fifty-fifty-framed__image {
        margin-right: auto;
      }
    }

    &[data-layout-image-right] {
      .fifty-fifty-framed__content {
        margin-right: auto;
        padding-left: 10%;
      }
      .fifty-fifty-framed__image {
        margin-left: auto;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__content {
      max-width: 550px;
    }

    &__image {
      max-height: 720px;
      @supports not (aspect-ratio: auto) {
        height: 720px;
	    }
    }

    &[data-layout-image-left] {
      .fifty-fifty-framed__content {
        padding-right: 12.5%;
      }
    }

    &[data-layout-image-right] {
      .fifty-fifty-framed__content {
        padding-left: 12.5%;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__content {
      max-width: 650px;
    }

    &__image {
      max-height: 900px;
      @supports not (aspect-ratio: auto) {
        height: 900px;
	    }
    }

    &[data-layout-image-left] {
      .fifty-fifty-framed__content {
        padding-right: 15%;
      }
    }

    &[data-layout-image-right] {
      .fifty-fifty-framed__content {
        padding-left: 15%;
      }
    }

  } // min width xxl

}
