.fifty-fifty-feature {

  max-width: var(--theme-layout--fifty-fifty-max-width);
  position: relative;

  &__frame {
    display: none;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
