:root {

  --theme-full-width-feature-curved-arrow-height: 80px;
  --theme-full-width-feature-curved-arrow-height--lg: 120px;

}

.full-width-feature {

  position: relative;
  text-align: center;
  background: rgba(var(--theme-colour-forrest),1);
  color: rgba(var(--theme-colour-white),1);
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    color: rgba(var(--theme-colour-grass),1);
  }

  &__heading,
  &__message {
    & + .full-width-feature__cta {
      margin-top: 22px;
    }
  }

  &__curved-arrow {
    color: rgba(var(--theme-colour-grass), 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    svg {
      fill: currentColor;
    }
    &-icon {
      height: var(--theme-full-width-feature-curved-arrow-height);
      bottom: calc( -0.3333 * var(--theme-full-width-feature-curved-arrow-height));
      position: relative;
      width: auto;
      img, svg {
        display: block;
        height: 100%;
        width: auto;
      }
    }
  }

  &__heading {
    & + .full-width-feature__message {
      margin-top: 32px;
    }
  }

  &__main {
    position: relative;
    z-index: 10;
    width: 100%;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    &-clip {
      z-index: 5;
      position: absolute;
      clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
      width: 100%;
      height: 100%;
      overflow: hidden;
      .full-width-feature__background-image {
        position: fixed!important;
        top: 0!important;
        left: 0!important;
        width: 100%!important;
        height: 100%!important;
        z-index: 0;
      }
    }
  }

  &__title {
    & + .full-width-feature__heading {
      margin-top: 18px;
    }
  }

  &[data-section-height="auto"] {
    padding: 72px 0;
    min-height: 300px;
  }

  &[data-section-height="large"] {
    min-height: 100%;
    min-height: 100vh;
  }

  &.with-media {}

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__heading,
    &__message {
      & + .full-width-feature__cta {
        margin-top: 32px;
      }
    }

    &__cta {
      &-button {
        max-width: 350px;
      }
    }

    &__curved-arrow {
      &-icon {
        height: var(--theme-full-width-feature-curved-arrow-height--lg);
        bottom: calc( -0.3333 * var(--theme-full-width-feature-curved-arrow-height--lg));
      }
    }

    &__heading {
      & + .full-width-feature__message {
        margin-top: 40px;
      }
    }

    &[data-section-height="auto"] {
      padding: 100px 0;
      min-height: 400px;
    }

    &[data-section-height="large"] {
      min-height: 100%;
      min-height: 100vh;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &__cta {
      &-button {
        max-width: 400px;
      }
    }

    &[data-section-height="auto"] {
      padding: 120px 0;
      min-height: 500px;
    }

  } // min width xxl

}
