.full-width-feature {

  position: relative;
  text-align: center;
  background: rgba(var(--theme-colour-forrest),1);
  color: rgba(var(--theme-colour-white),1);
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    color: rgba(var(--theme-colour-grass),1);
  }

  &__heading {

  }

  &__main {
    position: relative;
    z-index: 10;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    &-clip {
      z-index: 5;
      position: absolute;
      clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 100%);
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  &__title {
    & + .full-width-feature__heading {
      margin-top: 18px;
    }
  }

  &[data-section-height="auto"] {
    padding: 72px 0;
    min-height: 300px;
  }

  &[data-section-height="large"] {
    min-height: 100%;
    min-height: 100vh;
  }

  &.with-media {}

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &[data-section-height="auto"] {
      padding: 100px 0;
      min-height: 400px;
    }

    &[data-section-height="large"] {
      min-height: 100%;
      min-height: 100vh;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &[data-section-height="auto"] {
      padding: 120px 0;
      min-height: 500px;
    }

  } // min width xxl

}
