.glide {

  &__controls {
    position: relative;
    display: flex;
    &--technical {
      @extend .glide__controls;
      width: 100%;
      justify-content: flex-end;
      align-items: center;
    }
  }

}
