.heading {

  margin: 0;

  p, a {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
    width: auto;
    color: inherit;
    text-decoration: none;
  }

  &--2,
  &--3,
  &--4 {
    @extend .heading;
  }

  &--2,
  &--3 {
    font-family: var(--theme-font-family--serif--primary);
    font-style: normal;
    font-weight: 400;
    line-height: 1.14;
    letter-spacing: -0.02em;
  }

  &--2 {
    font-size: 37px;
  }

  &--3 {
    font-size: 28px;
  }

  &--4 {
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 0.07em;
    text-transform: uppercase;
  }

  @include breakpoint(sm) {

    &--2 {
      font-size: 44px;
    }

    &--3 {
      font-size: 32px;
    }

    &--4 {
      font-size: 20px;
    }

  } // min width sm

  @include breakpoint(md) {

    &--2 {
      font-size: 48px;
    }

    &--3 {
      font-size: 36px;
    }

    &--4 {
      font-size: 22px;
    }

  } // min width md

  @include breakpoint(lg) {

    &--2 {
      font-size: 52px;
      em, i {
        &::after {
          height: 12px;
        }
      }
    }

    &--3 {
      font-size: 36px;
    }

    &--4 {
      font-size: 20px;
    }

  } // min width lg

  @include breakpoint(xl) {

    &--3 {
      font-size: 38px;
    }

  } // min width xl

  @include breakpoint(xxl) {

    &--2 {
      font-size: 62px;
    }

    &--3 {
      font-size: 40px;
    }

    &--4 {
      font-size: 24px;
    }

  } // min width xxl

}
