.heading {

  p, a {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
  }

  a {
    display: inline-block;
    width: auto;
    color: inherit;
    text-decoration: none;
  }

  &--2 {
    @extend .heading;
    font-family: var(--theme-font-family--serif--primary);
    font-style: normal;
    font-weight: 400;
    font-size: 42px;
    line-height: 1.14;
    letter-spacing: -0.02em;
    em, i {
      position: relative;
      z-index: 0;
      display: inline-block;
      line-height: 0.9;
      &::after {
        background: rgba(var(--theme-colour-grass),1);
        display: block;
        content: '';
        width: 100%;
        height: 10px;
        position: absolute;
        bottom: 5px;
        left: 5px;
        z-index: -1;
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--2 {
      font-size: 52px;
      em, i {
        &::after {
          height: 12px;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &--2 {
      font-size: 62px;
    }

  } // min width xxl

}
