@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-12px);
  }
  60% {
    transform: translateY(-6px);
  }
}

.hero {

  min-height: 100vh;
  height: 100vh;
  position: relative;

  &__brand {
    color: rgba(var(--theme-colour-white), 1);
    svg {
      display: block;
      height: auto;
      width: 100%;
      fill: currentColor;
    }
    & + .hero__heading {
      margin-top: 30px;
    }
  }

  &__cta {
    color: rgba(var(--theme-colour-grass),1);
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1;
    text-align: center;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    &-title {
      & + .hero__cta-icon {
        margin-top: 20px;
      }
    }
    &-icon {
      animation: bounce 1.2s infinite;
      width: 50px;
      margin: auto;
      height: auto;
      svg {
        display: block;
        height: auto;
        width: 100%;
        fill: currentColor;
      }
    }
  }

  &__main {
    color: rgba(var(--theme-colour-white), 1);
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    text-align: center;
  }

  &__media {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &__brand {
      width: 66.6666%;
      margin: 0 auto;
      & + .hero__heading {
        margin-top: 40px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {

    &__brand {
      & + .hero__heading {
        margin-top: 50px;
      }
    }

  } // min width xl

  @include breakpoint(xxl) {

    &__brand {
      & + .hero__heading {
        margin-top: 60px;
      }
    }

  } // min width xxl

}
