.highlight {

  em, i {
    position: relative;
    z-index: 0;
    display: inline-block;
    line-height: 0.9;
    &::after {
      display: block;
      content: '';
      width: 100%;
      position: absolute;
      z-index: -1;
    }
  }

  &--circle,
  &--standard,
  &--stroke {
    @extend .highlight;
  }

  &--circle {
    em, i {
      overflow: visible;
      &::after {
        background: url('./LONTREAU--highlight--circle.svg');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: contain;
        height: 150%;
        bottom: -25%;
        left: -2%;
        overflow: visible;
        width: 104%;
      }
    }
  }

  &--standard {
    em, i {
      &::after {
        background: rgba(var(--theme-colour-grass),1);
        height: 10px;
        bottom: 5px;
        left: 5px;
      }
    }
  }

  &--stroke {
    em, i {
      &::after {
        background: url('./LONTREAU--highlight--stroke.svg');
        background-repeat: no-repeat;
        background-position: center left;
        background-size: 100% auto;
        height: 10px;
        bottom: -10px;
        left: -2%;
        width: 108%;
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    &--standard {
      em, i {
        &::after {
          height: 12px;
          bottom: 5px;
        }
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    &--standard {
      em, i {
        &::after {
          height: 14px;
          bottom: 5px;
        }
      }
    }

  } // min width xxl

}
