.input {

  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration),
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  font-family: var(--theme-font-family--sans-serif--primary);
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  min-height: 46px;
  line-height: 1;
  text-decoration: none;
  background: transparent;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  &--standard {
    @extend .input;
    background: rgba(var(--theme-colour-asphalt),1);
    color: rgba(var(--theme-colour-black),1);
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
