.instagram-feed {

  &__item {
    width: 100%;
    position: relative;
    aspect-ratio: 1/1;
    @supports not (aspect-ratio: auto) {
      height: 250px;
    }
    &-image {
      width: 100%;
      height: 100%;
    }
    &-link {
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      &:hover {
        opacity: 0.5;
      }
    }
  }

  &__main {
    width: calc(100% + var(--bs-container-fluid-padding));
    position: relative;
  }

}
