.label {

  font-family: var(--theme-font-family--sans-serif--primary);
  font-style: normal;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.07em;

  &--form-field {
    @extend.label;
    font-size: 13px;
    color: #828282;
    & + .input--primary,
    & + .textarea--primary {
      padding-top: 30px;
    }
  }

  &--primary {
    @extend .label;
    font-size: 20px;
    line-height: 1.23;
  }

}
