.line-item {

  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: flex-start;
  flex-flow: row wrap;

  a {
    transition: opacity var(--theme-transition-duration);
    opacity: 1;
  }

  &__image {
    position: relative;
    width: calc( (100% - var(--bs-gutter-width)) * 0.3333 );
    aspect-ratio: 1/1;
    margin-right: auto;
    a {
      border: 1px solid rgba(var(--theme-colour-black), 1);
      display: block;
      position: relative;
      width: 100%;
      height: 100%;
      &:focus,
      &:hover {
        opacity: 0.3333;
      }
    }
    @supports not (aspect-ratio: auto) {
      height: 100px;
	  }
  }

  &__info {
    width: calc( (100% - var(--bs-gutter-width)) * 0.6666 );
  }

  &__label {
    display: block;
    opacity: 0.6;
    text-transform: uppercase;
    letter-spacing: 0.07em;
    margin-bottom: 6px;
    font-size: 16px;
  }

  &__price {
    font-size: 16px;
  }

  &__quantity {
    display: inline-flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc( (100% - var(--bs-gutter-width)) * 0.6666 );
  }

  &__title {
    a {
      color: inherit;
      text-decoration: none;
      &:focus,
      &:hover {
        opacity: 0.3333;
        color: inherit;
        text-decoration: none;
      }
    }
    & + .line-item__price {
      margin-top: 18px;
    }
  }

  &__total {
    display: none;
  }

  &__total-price {
    font-size: 18px;
    padding-top: 6px;
  }

  & + .line-item {
    margin-top: 45px;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    flex-flow: row nowrap;
    align-items: center;

    &__image {
      width: 90px;
    }

    &__info {
      padding: 0 var(--bs-gutter-width);
    }

    &__label {
      display: none;
    }

    &__price {
      font-size: 16px;
    }

    &__title {
      font-size: 20px;
      & + .line-item__price {
        margin-top: 0px;
      }
    }

    &__total {
      display: block;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
