.link {
  transition:
    background var(--theme-transition-duration),
    border var(--theme-transition-duration),
    color var(--theme-transition-duration),
    opacity var(--theme-transition-duration);
  outline: none;
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  width: auto;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-decoration: none;
  background: transparent;

  span {
    display: block;
  }

  svg {

  }

  &__icon {
    transition:
      color var(--theme-transition-duration),
      opacity var(--theme-transition-duration),
      transform var(--theme-transition-duration);
    svg {
      display: block;
      height: 100%;
      width: auto;
      fill: currentColor;
    }
  }

}
