.list-collections {

  .card-collection {
    & + .card-collection {
       margin-top: 40px;
    }
  }

  &__listing {
    .card-collection {
      &:nth-child(even) {
        border: 1px solid red;
      }
      &:nth-child(odd) {
        border: 1px solid blue;
      }
      &.no-image {
        text-align: center;
      }
    }
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {} // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
