.pagination {

  margin-top: 55px;

  &__item {
    color: rgba(var(--theme-colour-black),1);
    font-family: var(--theme-font-family--sans-serif--primary);
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 0.07em;
    text-transform: uppercase;
    margin: 0 10px;
    a,
    span {
      background: rgba(var(--theme-colour-grass),0);
      color: rgba(var(--theme-colour-black),0.3333);
      border-radius: 100%;
      width: 36px;
      height: 36px;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding-top: 2px;
    }
    a {
      transition:
        background var(--theme-transition-duration),
        color var(--theme-transition-duration);
      text-decoration: none;
      &:focus,
      &:hover {
        background: rgba(var(--theme-colour-grass),1);
        color: rgba(var(--theme-colour-black),1);
      }
    }
    span {
      background: rgba(var(--theme-colour-grass),1);
      color: rgba(var(--theme-colour-black),1);
    }
  }

  &__layout {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    margin-top: 85px;

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {} // min width xxl

}
