.rte {

  font-family: var(--theme-font-family--serif--primary);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--theme-font-family--serif--primary);
    margin-bottom: 22px;
  }

  h2, h3, h4, h5, h6 {
    margin-top: 26px;
  }

  h1 {
    font-size: 37px;
  }

  h2 {
    font-size: 30px;
  }

  h3, h4, h5, h6 {
    font-size: 26px;
  }

  ol, p, ul {
    margin-bottom: 22px;
  }

  ol, ul {
    padding-left: 22px;
  }

  p {
    position: relative;
  }

  p, li {
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    font-style: inherit;
    a {
      transition: border 280ms;
      border-bottom-width: var(--theme-border-width);
      border-bottom-color: inherit;
      border-bottom-style: solid;
      color: inherit;
      display: inline-block;
      width: auto;
      text-decoration: none;
      outline: none;
      &:focus,
      &:hover {
        border-bottom-color: transparent;
        text-decoration: none;
        outline: none;
      }
    }
  }

  img {
    width: calc( 100% + (2*var(--bs-container-fluid-padding)) );
    left: calc( -1 * var(--bs-container-fluid-padding));
    display: block;
    position: relative;
  }

  @include breakpoint(sm) {

    h1 {
      font-size: 44px;
    }

    h2 {
      font-size: 32px;
    }

    h3, h4, h5, h6 {
      font-size: 28px;
    }

    img {
      width: 100%;
      left: unset;
    }

  } // min width sm

  @include breakpoint(md) {

    h1 {
      font-size: 48px;
    }

    h2 {
      font-size: 34px;
    }

    h3, h4, h5, h6 {
      font-size: 30px;
    }

  } // min width md

  @include breakpoint(lg) {

    h1, h2, h3, h4, h5, h6,
    ol, p, ul {
      margin-bottom: 24px;
    }

    h2, h3, h4, h5, h6 {
      margin-top: 30px;
    }

    h1 {
      font-size: 52px;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    h1 {
      font-size: 62px;
    }

  } // min width xxl

}
