.section {

  position: relative;

  .intro {

    &__heading,
    &__message {
      & + .intro__cta {
        margin-top: 22px;
      }
    }

    &__heading {
      & + .intro__message {
        margin-top: 32px;
      }
    }

    & + .main {
      margin-top: 45px;
    }
  }

  [data-section-padding] {
    padding: 60px 0;
  }

  [data-text-theme="dark"] {
    color: rgba(var(--theme-colour-black),1);
  }

  [data-text-theme="light"] {
    color: rgba(var(--theme-colour-white),1);
  }

  &--py {
    padding: 60px 0;
  }

  @include breakpoint(sm) {} // min width sm

  @include breakpoint(md) {} // min width md

  @include breakpoint(lg) {

    .intro {
      & + .main {
        margin-top: 65px;
      }
    }

    [data-section-padding] {
      padding: 75px 0;
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    .intro {
      & + .main {
        margin-top: 85px;
      }
    }

    [data-section-padding] {
      padding: 90px 0;
    }

  } // min width xxl

}
