.share-this {
  display: inline-flex;
  width: auto;
  justify-content: flex-start;
  align-items: center;
  font-family: var(--theme-font-family--sans-serif--primary);
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.12;
  letter-spacing: .07em;
  text-transform: uppercase;
  &__item {
    &.label {
      min-width: 46px;
    }
    & + .share-this__item {
      margin-left: 18px;
    }
  }
  &__layout {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
  }
  &__link {
    color: rgba(var(--theme-colour-black), 1);
    text-decoration: none;
    border-bottom: 1px solid rgba(var(--theme-colour-black), 1);
    &:hover {
      color: inherit;
      border-bottom: 1px solid transparent;
    }
  }
}
