.shopify-policy {

  @import './rte.scss';

  &__title {
    h1 {
      font-size: 37px;
      font-family: var(--theme-font-family--serif--primary);
      margin-bottom: 22px;
    }
  }

  &__container {
    width: calc( 100% - (2 * var(--bs-container-fluid-padding)) );
    max-width: 960px;
    margin: 0 auto;
    padding: calc(var(--theme-header-height) + 30px) 0 60px;
  }

  @include breakpoint(sm) {

    &__title {
      h1 {
        font-size: 44px;
      }
    }

  } // min width sm

  @include breakpoint(md) {

    &__title {
      h1 {
        font-size: 48px;
      }
    }

  } // min width md

  @include breakpoint(lg) {

    padding: calc(var(--theme-header-height) + 40px) 0 80px;

    &__title {
      h1 {
        font-size: 52px;
      }
    }

  } // min width lg

  @include breakpoint(xl) {} // min width xl

  @include breakpoint(xxl) {

    padding: calc(var(--theme-header-height) + 50px) 0 100px;

    &__title {
      h1 {
        font-size: 62px;
      }
    }

  } // min width xxl

}
