.stepper {

  background: transparent;
  border-color: rgba(var(--theme-colour-black), 0.3333);
  border-style: solid;
  border-width: 1px;
  border-radius: 0;
  display: inline-flex;
  font-family: var(--theme-font-family--sans-serif--primary);
  justify-content: space-evenly;
  overflow: hidden;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 0.07em;

  button,
  input {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    border: none;
    outline: none;
    background: none;
    height: 36px;
    width: 36px;
    padding: 0;
    margin: 0;
    display: block;
  }

   button {
    color: rgba(var(--theme-colour-black), 1);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &:active,
    &:focus {
      background: rgba(var(--theme-colour-black), 0.05);
      &.decrease {
        border-right: 1px solid rgba(var(--theme-colour-black), 0.3333);
      }
      &.increase {
        border-left: 1px solid rgba(var(--theme-colour-black), 0.3333);
      }
    }
    &:active {
      color: rgba(var(--theme-colour-black), 1);
    }
    &:hover {
      background: rgba(var(--theme-colour-black), 1);
      color: rgba(var(--theme-colour-white), 1);
    }
    &[disabled]{
      color: rgba(var(--theme-colour-black), 0.25);
      background: transparent;
      pointer-events: none;
    }
  }

  input {
    color: rgba(var(--theme-colour-black), 1);
    flex-basis: auto;
    text-align: center;
    -moz-appearance: textfield;
    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &:active,
    &:focus {
      background: rgba(var(--theme-colour-black), 0.05);
    }
  }

  .button {
    &__icon {
      height: 12px;
      width: 12px;
    }
  }

}
